/*
Debug with this.
border: red;
border-width: 1px;
border-style: solid;
*/

/*
CSS ruleset for 425x794
Mobile first, media querries lower down.
*/
body {
    font-family: 'Roboto', sans-serif;
}

.wholeContainer {
    min-width: 425px;
    min-height: 794px;
    max-width: 425px;

    position: absolute;
    width: 425px;
    height: 794px;

    /*Black magic front-end right here.*/
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 99.99%, rgba(255, 255, 255, 0) 100%), url(./../img/BG.png), #C4C4C4;
}

nav .topNavBar {
    position: absolute;
    width: 100%;
    height: 70px;

    background: rgba(0, 0, 0, 0.4);
}

nav .topNavBar .leftText {
    position: absolute;
    /*
    Supposed to be width: 101px; but CSS is fighting me
    and wraping text to new line. >:(
    Leaving 102px; for now.

    Fixed! Use white-space: nowrap; to push its shit in.
    */
    width: 101px;
    height: 22px;
    white-space: nowrap;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    padding: 0;
    margin-left: 13px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 311px;
}

nav .topNavBar .burgerContainer {
    margin-left: 380px;
    margin-right: 23px;
    margin-top: 27px;
    margin-bottom: 29px;

    height: 14px;
    width: 22px;

    padding: 0, 0, 0, 0;
}

nav .topNavBar .burgerTop {
    position: absolute;
    width: 22px;
    height: 2px;
    
    padding: 0;
    margin: 0;

    display: block;
    background-image: url("./../svg/Rectangle\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav .topNavBar .burgerMiddle {
    position: absolute;
    width: 22px;
    height: 2px;

    padding: 0;
    margin-top: 6px;

    display: block;
    background-image: url("./../svg/Rectangle\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

nav .topNavBar .burgerBottom {
    position: absolute;
    width: 22px;
    height: 2px;

    padding: 0;
    margin-top: 12px;

    display: block;
    background-image: url("./../svg/Rectangle\ 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footerContainer {
    margin-top: 704px;
    margin-left: 29px;
    margin-right: 72px;

    color: white;

    border: red;
    border-width: 1px;
    border-style: solid;
}

footer .footerContainer .bottomNavBar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

footer .footerContainer .bottomNavBar li {
    position: absolute;
    width: 79px;
    height: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

footer .footerContainer .legalShitAtTheBottom {
    position: absolute;
    width: 232px;
    height: 18px;

    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;

    color: #FFFFFF;
}

@media screen and (max-width: 425px) {
}